* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    background-color: black;
}

header button {
    color: white;
    background-color: #2d2d2d;
    border: none;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    width: 130px;
    cursor: pointer;
}

#ridimensiona {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

main {
    display: flex;
    justify-content: space-between;
}

main div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: calc(100vh - 110px);
    width: 5%;
}

main div:nth-child(1) i {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

main div:nth-child(2) {
    background-color: violet;
    height: calc(100vh - 110px);
    width: 90%;
}

#container-blocks div {
    height: 200px;
    width: 400px;
}

#container-blocks img {
    height: 200px;
    width: 400px;
    
}

main div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: calc(100vh - 110px);
    width: 5%;
}

main div:nth-child(3) i {
    color: #2ebaff;
    font-size: 50px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #202223;
}

footer button {
    border: none;
    color: #dcdcdc;
    background-color: #202223;
    margin: 10px;
}

footer i {
    font-size: 25px;
    margin-bottom: 3px;
}

#chevron-up {
    font-size: 10px;
    margin-left: 10px;
}

#end-meeting {
    color: #ef554b;
    background-color: #4b4c4e;
    padding: 25px 10px 20px 10px;
}